/server
/pkg
/src
/pic_cache
*~
logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
app/.index.html.swp
app/css/.app.css.swp
app/js/.controllers.js.swp
app/partials/.partial1.html.swp
npm-debug.log
partials/.partial2.html.swp
js/.app.js.swp
